<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="{{ site.author.name }}" />
    <link href="http://www.lazymonad.com/atom.xml" rel="alternate" title="lazymonad" type="application/atom+xml" />
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">

    <link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/d70ca5cd-778e-48cc-9e59-6b276425c670.css"/>
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/base.css" type="text/css" media="screen, projection" />
    <link media="only screen and (max-device-width: 480px)" href="{{ ASSET_PATH }}/css/mobile.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/ss-social.css" type="text/css" />
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/solarized.css"/>
    <link rel="stylesheet" href="{{ ASSET_PATH }}/webicons/webicons.css"/>


  </head>
  <body>

    <div class="site">

      <div class="header">
        <div class="container">
          <ul class="menu">
            <li><a class="extra" href="{{ BASE_PATH }}/about.html">About</a></li>
            <li><a class="extra" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
            <li><a class="extra" href="{{ BASE_PATH }}{{ site.JB.categories_path }}">Categories</a></li>
            <li><a class="extra" href="{{ BASE_PATH }}{{ site.JB.tags_path }}">Tags</a></li>
          </ul>

          <section class="name">
          <a href="/"><b>Umer</b>Azad</a>
          </section>
        </div>
      </div>

      <section class="container content">
        {{ content }}
      </section>

      <div class="footer" style="text-align: center" >
          <a class="webicon twitter large" href="https://twitter.com/umerazad">Twitter</a>
          <a class="webicon github large" href="https://github.com/users/umerazad">Github</a>
          <a class="webicon linkedin large" href="https://linkedin.com/umerazad">LinkedIn</a>
          <a class="webicon rss large" href="http://www.lazymonad.com/atom.xml">Atom</a>
          <div style="clear: both"></div>
        </div>
      </div>

      {% include JB/analytics %}
      {% include JB/webicons %}
  </body>
</html>
